@import url('https://fonts.googleapis.com/css2? family = Kumbh + Sans: wght @ 400; 700 & display = swap');
body {
    height: 100vh;
    background: linear-gradient(to bottom, #af67e9, #6565e7);
    background-repeat: no-repeat;
    font-family: 'kunbh Sans', sans-serif;
}

.accordion {
    height: 84vh;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6vh auto 5vh auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    
}


.accordionOne {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-left: 510px;
}

.active .accordionOne:hover{
    background-color: #ccc;
}

.accordionOne::after {
    content: '\003C';
    color: #777;
    font-weight: bold;
    float: right;
    margin-right: 5px;

}
.active::after {
    content: '\003E';
}
/* .accordion-item {
    margin-left: 550px;    
}
.faq {
    margin-left: 557px; 
    font-family: 'kunbh Sans';
    font-weight: 700; 
}
div .accordion-button { 
    position: relative;
    display: flex;
    align-items: center;
    width: 80%; 
    padding: 1rem 1.25rem;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0;
   
}
div .accordion-body {
    width: 79%; 
} */