@import url('https://fonts.googleapis.com/css2? family = Kumbh + Sans: wght @ 400; 700 & display = swap');
body {
    height: 100vh;
    background: linear-gradient(to bottom, #af67e9, #6565e7);
    background-repeat: no-repeat;
    font-family: 'kunbh Sans', sans-serif;
}

main {
    height: 84vh;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6vh auto 5vh auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
        padding: 20px;
        margin-left: 500px;
    }
    .faq {
        margin-right: 400px;
        font-family: 'kunbh Sans';
        font-weight: 700;
    }
}

main {
    background-image: url('images/illustration-woman-online-desktop.svg'), url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 50%, 90%;
    background-position: bottom 100px left -100px, top -233px left -546px;
}

.box {
    position: absolute;
    width: 13%;
    margin-left: 107px;
    margin-top: 270px;
}

